@using WebApplication3.Models
@model Author
@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Info about author</legend>

    <div class="display-label"><b>Имя</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label"><b>Фамилия</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label"><b>Events</b></div>
    <ul>
        @foreach (Event c in Model.Events)
        {
            <li>@c.Name</li>
        }
    </ul>

</fieldset>

