@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events in Epam</title>
</head>
<body>
    <div>
        <h3>Actual Events</h3>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>Description</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Events)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    @*<td><p>@b.Author</p></td>*@
                    <td><p>@b.Description</p></td>
                    <td><p><a href="/Home/Edit/@b.Id">Change</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

